@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.page-container {
  height: 90vh;
  background-color: #e4e5e7;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chart {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1 {
  font-family: "Bungee", cursive;
  text-align: center;
  background-color: #6d3ebe;
  color: white;
}

.page-container {
  padding: 0 4rem;
}

@media only screen and (max-width: 425px) {
  .page-container {
    height: 100%;
    padding: 0;
  }
}
